<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New User</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Add a new user</h1>
   <form action="/users/create/" method="post">
    {% csrf_token %}
       <ul>
           <li>
               <label for="full">Full Name</label>
               <input type=text name="full_name">
           </li>
            <li>
                <label for="email">Email</label>
                <input type=text name="email">
            </li>
            <li>
                <input type=submit name=submit value=Create>
            </li>

       </ul>
   </form>

   <p><a href="/users">Go Back</a></p>
</body>
</html>