<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Information</title>
    
</head>
<body>
    <h1> User {{id}}</h1>
    
    <ul>
        <li>Full Name: {{user.full_name}}</li>
        <li>Email: {{user.email}}</li>
        <li>Created: {{user.created_at.month}} {{user.created_at.day}}, {{user.created_at.year}}</li>
    </ul>
    
    <p><a href='/users/{{id}}/edit'>Edit   |</a><a href='/users/{{id}}/destroy'>   Delete</a></p>
</body>
</html>